@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900');


*{
  font-family: 'Montserrat', sans-serif;
}

/*----------------------------------------- VARIOS---------------------------------- */
.texto{
  position: absolute;
  z-index: 1
}
.flex{
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.logo-container{
  height: 300px;
  width: 300px;
  background-color: transparent;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.nav-logo{
  position: fixed;
  width: 100px;
  height: 100px;
  z-index: 1;
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  animation: appear 4s;
}

@keyframes appear {
 0%{
   opacity: 0
 }
 50%{
   opacity: 0
 }
 100%{
   opacity: 1
 }
}

.burger{
  position: fixed;
  width: 100%;
  z-index: 4;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  background-color: transparent
}

.burger button:hover{
  background-color: #fff;
}

.burger button{
  background-color: transparent;
}

.burger button:hover{
  background-color: #fff;
}

.burger i{
  font-size: 30px;
  color: white
}

.burger i:hover{
    color: #000;
}

.menu{
  position: fixed;
  height: 100vh;
  background-color: #000;
  margin-left: -300px;
  color: #fff;
  z-index: 3;
  padding: 30px;
  display: flex;
  justify-content: flex-end;
  transition: all 1s ease-in-out
}

.menu li{
  list-style: none;
}
.menu p{
  font-size: 18px;
  margin-bottom: 30px
}

.levitate {
  animation: do-levitation 1.2s alternate ease-in-out infinite;
}

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);

  }
  100% {
    transform: translate(0, 0.5em);

  }
}

@media (max-width:992px) {
  .burger i {
    font-size: 46px;
  }
  .nav-logo {
    width: 130px;
    height: 130px;
  }
  .menu {
    margin-left: -550px;
    width: 490px;
  }
}

/*----------------------------------------- PORTADA---------------------------------- */
.portada-section{
  background-color: #000;
  height: 100vh;
}
.portada-img{
  background-color: #000;
  background-image: url("../img/6.jpg");
  background-size: cover;
  background-position-x: -250px;
  height: 100vh;
  z-index: 2;
}
.portada-text{
  background-color: #000;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portada-text h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 50px;
  text-transform: uppercase;
}

.portada-text h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.portada-text button{
  background-color: #000;
}

.portada-text button:hover{
  background-color: #fff;
  color: #000
}

@media (max-width:992px) {
  .portada-img{
    background-position-x: -850px;
  }
  .portada-text h1 {
    font-size: 90px;
  }
  .portada-text h2 {
    margin-bottom: 900px;
  }
  .logo-container {
    height: 400px;
    width: 400px;
  }

}

/*----------------------------------------- NOSOTROS---------------------------------- */

.we-section{
  background-color: #fff;
  height: 200vh;
  background-image: linear-gradient(to left bottom, #000000, #2f272f, #4d4e64, #577d9a, #59b1c4);
  padding-top: 40px
}

.we-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.we-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px
}

.we-left hr{
  width: 100px;
  background-color: #fff;
  height: 3px;
  position: absolute;
  top: 90px;
}


.we-left .encabezado{
  text-align: left;
  color: #fff
}

.we-left .encabezado h2{
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
}

.we-left .we-text {
  color: #fff;
  text-align: justify;
  display: flex;
}

.we-left .we-text p {
  font-size: 14px;
  margin-top: 25px

}

.we-right img{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 5px;
  width: 500px
}

.we-left .encabezado p{
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
}

.we-profile-pic{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  overflow: hidden;
}

.we-profile-container .encabezado {
 margin-bottom: 50px
}

.we-profile-container .encabezado h2{
 color: #fff;
 text-align: center;
 font-weight: 900;
 text-transform: uppercase;
}

.we-profile-container .encabezado hr{
  width: 100px;
  background-color: #fff;
  height: 5px;
}

slider{
  overflow: hidden;
  display: block;
  width: 100%;
  height: 400px;
  position: relative;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

slider> *{
  overflow: hidden;
  display: block;

  height: 400px;
  position: absolute;
  animation: slide 66s infinite;


}

slide h2{
  margin-top: 20px;
  font-size: 30px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff
}

slide h3{
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

slide i{
  color: white;
  font-size: 20px;
  margin-top: 20px
}


 slide:nth-child(1){
  left: 100%;
  height: 100%;
  animation-delay: 0s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}

slide:nth-child(2){
  left: 100%;
  height: 100%;
  animation-delay: 6s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/gabsfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(3){
  left: 100%;
  height: 100%;
  animation-delay: 12s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/mariafondo.jpg');

  background-size: cover;
  background-position: center;

}


slide:nth-child(4){
  left: 100%;
  height: 100%;
  animation-delay: 18s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/edsonfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(5){
  left: 100%;
  height: 100%;
  animation-delay: 24s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(6){
  left: 100%;
  height: 100%;
  animation-delay: 30s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(7){
  left: 100%;
  height: 100%;
  animation-delay: 36s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(8){
  left: 100%;
  height: 100%;
  animation-delay: 42s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(9){
  left: 100%;
  height: 100%;
  animation-delay: 48s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}


slide:nth-child(10){
  left: 100%;
  height: 100%;
  animation-delay: 54s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;

}

slide:nth-child(11){
  left: 100%;
  height: 100%;
  animation-delay: 60s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('../img/nosotros/chrisfondo.jpg');
  background-size: cover;
  background-position: center;
}

.display-responsive{
  display: none;
}

.display-reverse-responsive{
  display: block;
}

@keyframes slide {
  0%{ left: 100%; width: 100%}
  3%{ left: 0%; }
  9%{ left: 0%; }
  13%{ left: -100%; width: 100%}
  13.0001%{ left: -100%; width: 0%}
  100%{ left: 100%; width: 0%}
}

@media (max-width:992px) {
  .we-section{
    height: 160vh
  }
  .we-left {
    padding-left: 15px;
  }
  .we-left .encabezado {
    text-align: center;
    margin-bottom: 40px;
  }
  .we-left .encabezado h2 {
    font-size: 70px;
  }
  .we-left hr {
    top: 120px;
    left: 440px;
  }
  .we-left .we-text {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
  }
  .we-left .we-text p {
    font-size: 23px;
    margin-top: 40px;
  }
  .we-left img {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    z-index: 0;
  }
  .display-responsive{
    display: block;
  }
  .display-reverse-responsive{
    display: none;
  }
  .we-profile-container .encabezado h2 {
    font-size: 70px;
    margin-bottom: 30px;
  }
  slider {
    height: 900px;
  }
  slide h2 {
    font-size: 54px;
  }
  .we-profile-pic {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
  }
  slide h3 {
    font-size: 26px;
  }
  slide i {
    font-size: 38px;
    margin-top: 30px;
  }
}

/*----------------------------------------- NOSOTROS---------------------------------- */

.coop-section{
  background-color: #eaeaea;
  height: 500px;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coop-section .encabezado h2{
  color: #000
}

.coop-section .encabezado p{
  color: #000
}

.coop-section .encabezado hr{
  background-color: #000
}

.coop-section .we-text p{
  color: #000
}

.coop-section .we-text p{
  color: #000
}
.coop-section .we-right{

  display: flex;
  align-items: center;
  justify-content: space-around;

}
.coop-section .text-center i{
  color: #000;
  font-size: 80px
}

@media (max-width:992px) {
  .coop-section{

    height: 1000px;

  }
  .coop-section .encabezado hr{
    background-color: #000;
    top: 230px;
  }
}


/*----------------------------------------- NOSOTROS---------------------------------- */

.work-section{
  background-color: #fff;
  height: 200vh;
}
